<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN"
 "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <!-- Allow attaching debugger / installing on dev device -->
    <key>get-task-allow</key>
    <true/>

    <!-- Allow Keychain access -->
    <key>keychain-access-groups</key>
    <array>
        <!-- Team ID + bundle identifier must match your provisioning profile -->
        <string>com.sphereon.cryptos</string>
    </array>

    <key>com.apple.security.keychain-access-groups</key>
    <true/>
</dict>
</plist>
